body {
    background-image: url(e-commerce-pictures-2.webp);
    background-size: cover;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

h1, h2 {
    text-align: center;
}

.product, .cart-item {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

#checkout-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
}

.product{
    background-image: url(e-commerce-pictures-2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-style: oblique;
}

.product:hover{
    background-color: aqua;
}

button{
    color: red;
}

button:hover{
    color: orange;
}